body {
  font-family: "Lato"
}

header {
  text-align: center;
  color: grey;
}

#demo {
  border: 4px solid grey;
  height: 33em;
  width: 25.5em;
  margin: 0 auto;
  display: block;
}

.parameter {
  margin: 1em;
}

.option {
  display: inline-block;
  height:10.5em;
  width: 25.5em;
}

#message {
  text-align: center;
  font-size: 1.1em;
  background-color: rgba(66, 244, 235, 0.3)
}

@media print {
  .parameter, #message, h1, h2 {
    display: none;
  }
  #demo {
    border: none;
  }
  #demo img {
    border: 1px solid red;
  }
  @page {
    size: A4;
  }

}
