body {
  font-family: "Lato";
}

#print-window {
  height: 20em;
  max-width: 65em;
  position: relative;
  display: block;
  margin: 0 auto;
}

header {
  text-align: center;
  color: grey;
}

#demo {
  border: 4px solid grey;
  height: 33em;
  width: 25.5em;
  margin: 0 auto;
  display: block;
}

#rightPane img {
  border: .1em dashed #eee;
  margin: .1em;
}

#button-box {
	display: relative;
	width: 17em;
	margin: 1.5em auto;
}




#button-box button {
	position: relative;
	width: 7em;
	border-radius: .5em;
	background-color: #4ECC6E;
	padding: .5em;
	color: white;
	border: none;
	box-shadow: 1px 2px 5px #ddd;
  outline: none;
  transition: background-color .3s ease;
	}

#button-box button:hover {
  cursor: pointer;
  background-color: #4DB267;
}

#button-box button:active {
  background-color: green;
}


#leftPane i {
  transition: color .5s ease;
}

#leftPane i:active {
  color: black;
}

#button-box i {
  padding:0;
  position: absolute;
  left: .5em;
}


#leftPane, #rightPane {
  position: absolute;
  width: 45%;
  margin-top: 1em;
}

#rightPane {
  right: 0;
}

#leftPane {
  left: 0;
}

.parameter {
  margin: 1em;
}

.fa {
  padding: 1em;
}

#rightPane div div {
  position: relative;
  display: inline-block;
}

#rightPane div div:hover {
  cursor: grab;
  cursor: -webkit-grab;
}

#rightPane div div:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.option {
  display: inline-block;
  height:5.25em;
  width: 12.75em;
}

#demo .option:hover {
  cursor: all-scroll;
}

#demo img {
  width: 25.5em;
  height: 10.5em;
}

#message {
  text-align: center;
  font-size: 1.1em;
  background-color: rgba(66, 244, 235, 0.3)
}

/*Styles for Invisi-Hover-Bubblons */

/* Red Buttons in #demo */
.delete-button {
  font-size: 2em;
  color: tomato;
  position: absolute;
  display: none;
}

.delete-button:hover {
  cursor: pointer;
  display:block;
}

.delete-button-hover {
  display: block;
}

#top-delete {
  top: 0;
  left: 89%;
}

#middle-delete {
  top: 33%;
  left: 89%;
}

#bottom-delete {
  top: 66%;
  left: 89%;
}

/* Green button fill icon */

#rightPane div div i {
  color: #4DB267;
  padding: 0;
  font-size: 2em;
  opacity: 0;
  transition: opacity .3s ease, margin-top .1s ease;;
  position: absolute;
  top: -10%;
  left: 90%;
}

#rightPane div div:hover i {
  opacity: 1;
  cursor: pointer;
}

#rightPane i:active {
  margin-top: 4px;
 }

/*plus icon*/
#rightPane div div .plus-icon {
  top: 30%;
  left: 90%;
}

/*tooltip without jquery*/

/*.tooltip-hide {
  position: absolute;
  left: 48%;
  top: 70%;
  width: 100%;
  border: 1px solid black;
  padding: .5em 0.2em;
  background-color: white;
  border-radius: 5px;
  z-index: 1;
  opacity: 0;
}*/

/*.tooltip-show {
  opacity: 1
}*/

.tooltip {
  position: absolute;
  left: 62%;
  top: 48%;
  border: 1px solid black;
  border-radius: 5px;
  padding: .5em .2em;
  background-color: white;
}

.ui-helper-hidden-accessible div {
  display: none;
}

/* RESPONSIVE STYLES */
@media (max-width: 1000px) {
	#rightPane, #leftPane {
    width: 100%;
    position: relative;
  }

	#rightPane {
    width: 30em!important;
     margin: 1em auto;
   }
	}

/*** PRINT STYLES ***/
@page {
  size: letter;
  margin: 0;
}

@media print {
  img {
    filter: none!important; }

  * {
    margin:0!important;
    padding:0!important;
  }

  html, body {
      width: 8.5in;
      height: 11in;
      background: white!important;
  }

  .parameter, #message, h1, h2, p, i, button, #print, #clear, #demo i {
    display: none;
  }

  #demo {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  html, body, #demo, #mainFrame {
    width: 8.5in!important;
    height: 11in!important;
    border:none!important;
    margin: 0!important;
  }

  #demo img {
    width: 100%!important;
    border:none!important;
    height: 3.5in!important;
  }

  #demo img.gray-print {
    opacity: .4!important;
  }
}
