body {
  font-family: "Lato";
}

header {
  text-align: center;
  color: grey;
}

#demo {
  border: 4px solid grey;
  height: 33em;
  width: 25.5em;
  margin: 0 auto;
  display: block;
}

#leftPane, #rightPane {
  position: absolute; width: 45%;
}

#rightPane {
  right: 0;
}

#leftPane {
  left: 0;
}

.parameter {
  margin: 1em;
}

.fa {
  padding: 1em;
}

.tab-example, .dual-example, .standard-example, .chords-med-example, .chords-large-example, .fretboard-large-example, .fretboard-med-example {
  position: relative;
  display: inline-block;
  /*border: 1px solid blue;*/
}

.fill-icon {
  color: #4DB267;
  padding: 0;
  /*border: 1px solid red;*/
}

#preset-tab, #preset-dual, #preset-standard, #preset-chords-med, #preset-chords-large, #preset-fretboard-large, #preset-fretboard-med {
  display: none;
  position: absolute;
  top: 30%;
  left: 43%;
}

/*hover over --reorganize!!*/
.tab-example:hover #preset-tab {
  display: block;
}

.dual-example:hover #preset-dual {
  display: block;
}

.standard-example:hover #preset-standard {
  display: block;
}

.chords-med-example:hover #preset-chords-med {
  display: block;
}

.chords-large-example:hover #preset-chords-large {
  display: block;
}

.fretboard-large-example:hover #preset-fretboard-large {
  display: block;
}

.fretboard-med-example:hover #preset-fretboard-med {
  display: block;
}

.option {
  display: inline-block;
  height:5.25em;
  width: 12.75em;
}

#demo img { width: 25.5em; height: 10.5em; }

#message {
  text-align: center;
  font-size: 1.1em;
  background-color: rgba(66, 244, 235, 0.3)
}

@page {
  size: letter;
  margin: 0;
}

@media print {
  html, body {
      margin: 0!important;
      width: 8.5in;
      height: 11in;
  }
  .parameter, #message, h1, h2, p, i, button, #print, #clear {
    display: none;
  }
  #demo {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  html, body, #demo  {
    width: 8.5in!important;
    height: 11in!important;
    margin:0!important;
    padding:0!important;
    border:none!important;
  }
  #demo img {
    width: 100%!important;
    margin:0!important;
    padding:0!important;
    border:none!important;
    height: 3.5in!important;
  }
}
