body {
  font-family: "Lato";
}

#print-window {
  height: 20em;
  max-width: 65em;
  position: relative;
  display: block;
  margin: 0 auto;
}

header {
  text-align: center;
  color: grey;
}

#demo {
  border: 4px solid grey;
  height: 33em;
  width: 25.5em;
  margin: 0 auto;
  display: block;
}

#rightPane img {
  border: .1em dashed #eee;
  margin: .1em;
}

#button-box {
	display: relative;
	width: 17em;
	margin: 1.5em auto;
}

#button-box button {
	position: relative;
	width: 7em;
	border-radius: .5em;
	background-color: #4ECC6E;
	padding: .5em;
	color: white;
	border: none;
	box-shadow: 1px 2px 5px #ddd;
  outline: none;
  transition: background-color .3s ease;
	}

#button-box button:hover {
  cursor: pointer;
  background-color: #4DB267;
}

#button-box button:active {
  background-color: green;
}


#leftPane i {
  transition: color .5s ease;
}

#leftPane i:active {
  color: black;
}

#button-box i {
  padding:0;
  position: absolute;
  left: .5em;
}

#leftPane, #rightPane {
  position: absolute;
  width: 45%;
  margin-top: 1em;
}

#rightPane {
  right: 0;
}

#leftPane {
  left: 0;
}

.parameter {
  margin: 1em;
}

.fa {
  padding: 1em;
}

#rightPane div div {
  position: relative;
  display: inline-block;
}

#rightPane div div:hover {
  cursor: grab;
  cursor: -webkit-grab;
}

#rightPane .text-box:hover {
  cursor: pointer;
}

#rightPane div div:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.option {
  display: inline-block;
  height:5.25em;
  width: 12.75em;
  /*border: 1px solid red;*/
}

#demo .option:hover {
  cursor: all-scroll;
}

#demo img {
  width: 25.5em;
  height: 10.5em;
}

#message {
  text-align: center;
  font-size: 1.1em;
  background-color: rgba(66, 244, 235, 0.3)
}

/*Styles for Invisi-Hover-Bubblons */

/* Red Buttons in #demo */
.delete-button {
  font-size: 2em;
  color: tomato;
  position: absolute;
  display: none;
}

.delete-button:hover {
  cursor: pointer;
  display:block;
}

.delete-button-hover {
  display: block;
}

.top-delete {
  top: 0;
  left: 89%;
}

.middle-delete {
  top: 33%;
  left: 89%;
}

.middle-delete-to-bottom {
  top: 66%;
}

.bottom-delete {
  top: 66%;
  left: 89%;
}

/* Green button fill icon */

#rightPane div div i {
  color: #4DB267;
  padding: 0;
  font-size: 2em;
  opacity: 0;
  transition: opacity .3s ease, margin-top .1s ease;;
  position: absolute;
  top: -10%;
  left: 90%;
}

#rightPane div div:hover i {
  opacity: 1;
  cursor: pointer;
}

#rightPane i:active {
  margin-top: 4px;
 }

/*plus icon*/
#rightPane div div .plus-icon {
  top: 30%;
  left: 90%;
}

/*alert message*/
#blank-span {
  color: white;
}

/*textarea*/
#textarea {
  display: none;
}

.alert-message {
  padding: .3em;
  color: white;
  background-color: tomato;
  margin-left: 23.7em;
  border-radius: 5px;
  text-align: center;
  width: 50%;
  display: none;
}

/*text input*/
.text-box {
  position: absolute;
}

#add-text-button {
  outline: none;
  height: 5.25em;
  width: 12.75em;
}

/*dialog*/
.ui-dialog {
  border: 1px solid grey;
  background-color: white;
  outline: none;
}

.ui-dialog-content {
  padding: 1em;
}

.ui-dialog-titlebar-close {
  position: absolute;
  right: 1em;
  width: 1.5em;
  height: 1.5em;
  background-color: black;
  color: white;
  outline: none;
}

#dialog textarea {
  resize: none;
  outline: none;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  width: 41.5em;
  height: 22em;
}

#dialog textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

#text-submit-button {
  padding: 0.5em;
  display: block;
  margin: 0 auto;
}

#demo textarea {
  height: 30%;
  width: 100%;
  border: none;
  resize: none;
  text-align: center;
  font-size: 0.3em;
  overflow: hidden;
}

#demo textarea.long-text {
  height: 60%!important;
}

.text-division {
  padding: 0.3em;
  border-radius: 3px;
  outline: none;
}

.text-division-clicked {
  background-color: grey;
}


/* RESPONSIVE STYLES */
@media (max-width: 1000px) {
	#rightPane, #leftPane {
    width: 100%;
    position: relative;
  }

	#rightPane {
    width: 30em!important;
     margin: 1em auto;
   }
	}

/*** PRINT STYLES ***/
@page {
  size: letter;
  margin: 0;
}

@media print {
  img {
    filter: none!important;
  }

  * {
    margin:0!important;
    padding:0!important;
  }

  html, body {
    width: 8.5in;
    height: 11in;
    background: white!important;

  }

<<<<<<< HEAD
  .parameter, #message, h1, h2, h3, h4, h5, p, i, button, #print, #clear, #demo i {
=======
  .parameter, #message, h1, h2, h3, h4, h5, p, i, button, #print, #clear, #demo i, .alert-box {
>>>>>>> afe71947a2ed74392d30585385fb814d766df95b
    display: none!important;
  }

  #demo {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .all-options {
    page-break-after: avoid;
  }

  html, body, #demo, #mainFrame {
    width: 8.5in!important;
    height: 11in!important;
    border:none!important;
    margin: 0!important;
  }

  #demo img, #demo .all-options {
    width: 100%!important;
    border:none!important;
    height: 3.5in!important;
  }

  #demo img.gray-print {
    opacity: .4!important;
  }

<<<<<<< HEAD
  /*textarea {
    border: none;
  }*/
=======
  #demo textarea {
    font-size: 1em;
    padding: 1em!important;
  }

>>>>>>> afe71947a2ed74392d30585385fb814d766df95b
}
